applications:
  - name: django-app
    namespace: default
    project: default
    source:
      repoURL: https://github.com/vitalii-dylovyi/goit-devops.git
      path: final-project/charts/django-app
      targetRevision: final-project
      helm:
        valueFiles:
          - values.yaml
        # Real DB endpoint + secrets injected by Terraform (never committed to Git)
        parameters:
          - name: config.POSTGRES_HOST
            value: "${db_host}"
          - name: secretConfig.POSTGRES_PASSWORD
            value: "${db_password}"
          - name: secretConfig.SECRET_KEY
            value: "${django_secret_key}"
    destination:
      server: https://kubernetes.default.svc
      namespace: default
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

repositories:
  - name: goit-devops
    url: https://github.com/vitalii-dylovyi/goit-devops.git
    username: ${github_username}
    password: ${github_pat}
